body {
	margin: 0;
	padding: 0;
	background: #1B2024;
	font-family: 'Abel', sans-serif;
	font-size: 15px;
}

h1, h2, h3 {
	margin: 0;
	font-weight: 300;
}

p, ol, ul {
	margin: 0px;
	padding: 0px;
}

p, ol {
	line-height: 180%;
}

a {
	color: #5C5539;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

/* Header */

#header {
	background: #DEE3E5;
	padding: 0px 0px;
	height: 120px;
}

	/* Header > Logo */

#logo {
	background: url(/web/20200825150757im_/http://www.bloxp.com/img/logo.png) no-repeat left 22px;
}

#logo h1 {
	padding: 18px 0px 0px 90px;
	text-transform: lowercase;
	font-size: 3.6em;
}

#logo h1 a {
	text-decoration: none;
	color: #1B2024;
}

	/* Header > Menu */

#menu ul {
	float: right;
	margin: 0;
	padding: 40px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-left: 1px;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #10202F;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	background: #1B2024;
	border-radius: 5px;
	color: #FFF;
}

/* White bg */

.whiteBg{
	background: #FFF;
	color: #666;
	padding: 50px 0px;
	overflow:hidden;
}
.whiteBg h2 {
	padding: 0px 0px 15px 0px;
	letter-spacing: -1px;
	font-size: 36px;
	color: #333;
}

/* Light blue bg */

.lblueBg{
	background: #F1F2E9;
	color: #333;
	padding: 50px 0px;
	overflow:hidden;
}
.lblueBg h2 {
	padding: 0px 0px 15px 0px;
	letter-spacing: -1px;
	font-size: 36px;
	color: #222;
}

/* Footer */

#footer {
	height: 100px;
	margin: 0 auto;
	padding: 50px 0px 15px 0px;
}

#footer p {
	margin: 0;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #77838D;
}

#footer a {
	color: #BFC8D1;
}

/* Button Style */

.button-style {
	display: inline-block;
	margin-top: 30px;
	padding: 7px 30px;
	background: #1B2024;
	border-radius: 5px;
}

.button-style a {
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #FFFFFF;
}

/* List Style 1 */

ul.style1 {
	list-style: none;
}

ul.style1 li {
	padding: 10px 0px 10px 10px;
	border-top: 1px dashed #999B8D;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
}

/* Homepage */

	/* Homepage > Start ebook field */
#startEbook fieldset{
	background: #DEE3E5;
	color: #333;
	border-radius: 5px;
	border: 2px solid #DEE3E5;
	margin-top:25px;
	margin-bottom:50px;
}
#startEbook legend{
	display: inline-block;
	margin-left: 30px;
	padding: 7px 30px;
	background: #1B2024;
	border-radius: 5px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #FFFFFF;
}
#startEbookErrorPanel{
	display:none;
}
#startEbook span.jqTransformCheckboxWrapper{
	display:inline-block;
	float:none;
}
#startEbook a.jqTransformCheckbox {
	display:inline-block;/*display: -moz-inline-block;*/
	float:none;
	margin-bottom:3px;
}
form.jqtransformdone label.startEbookLabel{
	margin-top:0px;
	margin-right: 17px;
	margin-left:5px;
	display: inline-block;
	line-height:20px;
	float:none;
}
/* Working banner */

#workingHeader{
	margin-top:75px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #DEE3E5;
	height: 110px;
}
#workingLogo {
	background: url(/web/20200825150757im_/http://www.bloxp.com/img/logo.png) no-repeat left 22px;
}

#workingLogo h1 {
	padding: 18px 0px 0px 90px;
	text-transform: lowercase;
	font-size: 3.6em;
	text-decoration: none;
	color: #1B2024;
}
.smallTitle{
	font-size: 0.5em;
	padding-left:8px;
}
.workingContent{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.workingCounter{
	text-align:center;
}
.workingCounter p{
	display: block;
	margin-top: 30px;
	padding: 7px 30px;
	background: #1B2024;
	border-radius: 5px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #FFFFFF;
}

/* Posts list (step 2) */
#itemsList ul{
	border-bottom: 1px dashed #999B8D;/* Añade borde al final de la lista */
	margin: auto 60px;/* Consigue que el borde sea igual de ancho que <li> */
}
#itemsList .item{
	display: block;
	width: 500px;	
	height: 23px;
	margin: auto;
	padding-top: 8px; /* mantener igual que padding-bottom!! */
	padding-bottom: 8px;
	border-top: 1px dashed #999B8D;
}
#itemsList .item .itemElement, #itemTitle_js {
	display: inline-block;
	float: left;
	margin: 0px;
	height: 21px;
}
#itemsList .item .itemCheck{
	margin-left: 15px;
	margin-top: 1px;/*Aprox. igual que padding-top de .itemTitle*/
	width: 25px;
}
#itemsList .item .itemTitle {
	padding-left: 5px;
	padding-top: 2px;
	width: 415px;/* Mantener igual que el id #itemTitle_js!!!*/
}
#itemsList .item .itemOpen a{
	width: 20px;
	height: 20px;
	padding:0;
}
#itemsList .item .itemSort{/*tendra 16px de ancho ya que sera un icono*/ 
	display: inline-block;
	float: left;
	margin :0px;
	margin-top: 3px;
}
#itemsList .item .itemOpen a{
	margin-left: 2px;/*Los que faltan para tener un ancho total de 25px (considerando jqueryui)*/
	text-align: center;
}
#itemTitle_js{
	padding-left: 5px;
	padding-top: 2px;
	width: 415px;/* Mantener igual que la clase .itemTitle!!!*/
	height: 21px !important;
	overflow: hidden;
	white-space: nowrap;
}
.itemTitle_js_hover{
	width: 399px !important;/* Mantener igual que la clase .itemTitle - ancho de itemSort (contando margen!)!!!*/
	background: #DEE3E5;
	color: #1B2024;
	cursor: pointer;
}
.hiding{
	text-overflow:ellipsis;
}
	/* Barra de opciones de la lista posts */
#listToolbar{
	width: 468px;	
	height: 30px;
	margin: auto;
	margin-bottom: 20px;
	padding: 10px 16px;/* En total listToolbar medirá 500x50px */
	background:  #F1F2E9;
	border-radius: 5px;
}
#listToolbar p{
	display: inline-block;
	vertical-align: top;
}

#selectTool{
	padding: 2px 0 3px 0;
}
#selectTool .ui-button-text{
	padding-top: 0px;
	padding-bottom: 0px;
}
#selectTool .ui-icon-triangle-1-s{
    display: inline-block;
	margin: 2px 0 0 -5px;
}
.numPostsLabel{
	background: #1B2024;
	border-radius: 5px;
	height: 26px;
	width:63px; /* El máximo hasta llenar la toolbar*/
	text-align: center;
	margin-top: 1px;
	padding-top: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #FFF;
	cursor:help;
}

	/* Gif de trabajo en proceso*/
#workingImg{
	display: none;
	width: 100%;
	margin-top: 75px;
	text-align:center;
}
	/* Create ebook progress bar*/
#create-ebook-progressbar{
	position:relative;
}
#create-ebook-progressbar p{
	position: absolute;
	width: 100%;
	text-align: center;
	line-height: 1.55em;
	font-weight:700;
	font-size:1.35em;
}

	/* Menú exportar */
.tabsList i{
	font-size: 50px;
}

	/* About */
.biggerP p{
	font-size:1.20em;
	font-weight:300;
	margin-bottom:0.8em;
}
.biggerP ul, .biggerP ol{
	margin-left:75px;
	font-size:1.20em;
	font-weight:300;
	margin-bottom:0.8em;
}
	/* FAQ */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/**************************************************************************/
/* Jquery UI Corrections*/
.no-close .ui-dialog-titlebar-close{/* Quita cruz para cerrar dialogos */
	display: none;
}
.ui-widget{/* Texto en botones, formularios... *//* jquery-ui-1.8.16.custom.cc line:60*/
	font-family: 'Abel', sans-serif;
	font-size: 15px;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {/* jquery-ui-1.8.16.custom.cc line:62*/
	font-family: 'Abel', sans-serif; 
	font-size: 15px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {/* jquery-ui-1.8.16.custom.cc line:76*/
  font-size: 15px;
}
.ui-dialog-buttonset .ui-button:nth-child(2){/* jquery-ui-1.8.16.custom.cc line:1120*/
  font-size: 15px;
}
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #FFF; }
input[type="text"],
input[type="password"],
.ui-autocomplete-input,
textarea,
.uneditable-input {/* Tamaño y color del texto en formularios */
  font-size: 15px;
  color: #666;
}
#itemsList .item .itemOpen a .ui-icon-extlink{/* Coloca bien iconos extlink en la lista de items! */
	margin: 2px 0 0 2px;
}
.ui-button-text-icon-primary {
    position: relative;
}
.ui-button-text-icon-primary .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}
.ui-buttonset {
	margin-right: 0;
}
.ui-buttonset .ui-button{
	margin-right: -1px;
}
.ui-correct-icon-w-text{
	vertical-align:top;
	padding: 2px 0 3px 0;
}
.ui-correct-icon-w-text .ui-button-text{
	display: inline-block;
	padding: 2px 12px 1px 26px;
}
/*Export options tabs*/
#exportOptions {
	background: #F1F2E9;
	border: none;
}
	/*Tabs header*/
#exportOptions .ui-widget-header {
	background: transparent;
	border: none;
	border-bottom: 1px solid #c0c0c0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	margin-left:1em;
	margin-right:1em;
}
#exportOptions .ui-state-default {
	background: transparent;
	height:42px;
	font-size:30px;
	border: none;
}
#exportOptions .ui-state-active, #exportOptions .ui-state-hover {
	background: transparent url(/web/20200825150757im_/http://www.bloxp.com/img/uiTabsArrow.png) no-repeat bottom center;
	padding-bottom:1px;
	border: none;
}
#exportOptions .ui-state-hover a, #exportOptions .ui-state-hover a:hover{
	background: transparent;
	color: #10202F;
}
#exportOptions .ui-state-default a {
	border:none;
	color: #c0c0c0;
}
#exportOptions .ui-state-active a {
	color: #10202F;
}
#exportOptions a.previewLink{
	margin-top:5px;
	margin-right:1em;
	float:right;
	font-size:30px;
	text-decoration:none;
	color: #c0c0c0;
}
#exportOptions a.previewLink:hover{
	color: #10202F;
}
	/*Tabs content*/
#exportOptions.ui-tabs .ui-tabs-panel{
	padding-top:5px;
	padding-left:1em;
	padding-right:1em;
}
#exportOptions h2{
	padding-bottom:5px;
	padding-left:0.5em;
	border-bottom: 1px solid #c0c0c0;
	margin-bottom:10px;
	font-size:1.5em;
}


/*
     FILE ARCHIVED ON 15:07:57 Aug 25, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:29:34 Aug 15, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 154.256
  exclusion.robots: 0.182
  exclusion.robots.policy: 0.163
  RedisCDXSource: 1.514
  esindex: 0.015
  LoadShardBlock: 123.13 (3)
  PetaboxLoader3.resolve: 219.479 (3)
  PetaboxLoader3.datanode: 57.597 (4)
  CDXLines.iter: 21.459 (3)
  load_resource: 166.292
*/